mixin answers()
    .answers 
        .answers__body.container 
            h2.answers__title.title Ответы на частые вопросы
            .answers__content
                .answers__left 
                    .accordion 
                        .accordion__button 
                            span.accordion__span Сколько времени потребуется на расчет?
                        .accordion__content 
                            p.accordion__p Время от отправки заявки до готовой сметы и проекта занимает в среднем 3-5 дней
                    .accordion 
                        .accordion__button 
                            span.accordion__span Какая документация предоставляется после монтажа?
                        .accordion__content 
                            p.accordion__p Время от отправки заявки до готовой сметы и проекта занимает в среднем 3-5 дней 
                .answers__right 
                    .accordion 
                        .accordion__button 
                            span.accordion__span Длительность монтажа для частного дома?
                        .accordion__content 
                            p.accordion__p Время от отправки заявки до готовой сметы и проекта занимает в среднем 3-5 дней
                    .accordion 
                        .accordion__button 
                            span.accordion__span Какой материал используется в заземлении
                        .accordion__content 
                            p.accordion__p Время от отправки заявки до готовой сметы и проекта занимает в среднем 3-5 дней 
                    .accordion 
                        .accordion__button 
                            span.accordion__span Какие способы оплаты принимаете?
                        .accordion__content 
                            p.accordion__p Время от отправки заявки до готовой сметы и проекта занимает в среднем 3-5 дней 
                    