mixin comments()
    .comments 
        .comments__body.container 
            h2.comments__title.title Отзывы о работе с нами
            .comments__slider 
                .comments__swiper.swiper 
                    .comments__swiper-wrapper.swiper-wrapper 
                        .comments__slide.swiper-slide 
                            img(src="@img/comments-img-1.png", alt="" draggable="false" loading="lazy")
                        .comments__slide.swiper-slide 
                            img(src="@img/comments-img-2.png", alt="" draggable="false" loading="lazy")
                        .comments__slide.swiper-slide 
                            img(src="@img/comments-img-3.png", alt="" draggable="false" loading="lazy")
                        .comments__slide.swiper-slide 
                            img(src="@img/comments-img-4.png", alt="" draggable="false" loading="lazy")
                        .comments__slide.swiper-slide 
                            img(src="@img/comments-img-5.png", alt="" draggable="false" loading="lazy")
                        .comments__slide.swiper-slide 
                            img(src="@img/comments-img-1.png", alt="" draggable="false" loading="lazy")
                        .comments__slide.swiper-slide 
                            img(src="@img/comments-img-2.png", alt="" draggable="false" loading="lazy")