mixin comments()
    .comments 
        .comments__body.container 
            h2.comments__title.title Отзывы о работе с нами
            .comments__slider 
                .comments__swiper.swiper 
                    .comments__swiper-wrapper.swiper-wrapper 
                        .comments__slide.swiper-slide 
                            img(src="", alt="" draggable="false" loading="lazy")