mixin directions()
    .directions
        .directions__body.container 
            h2.directions__title.title Специализируемся на установке заземления по направлениям
            .directions__content 
                .directions__item 
                    .directions__img    
                        img(src="@img/directions-img-1.png", alt="" draggable="false" loading="lazy")
                    .directions__right 
                        span.directions__subtitle Торговые центры
                        ul.directions__list.disable-sm 
                            li.directions__li Садовый центр Дарвин
                            li.directions__li OBI
                            li.directions__li Тц Вешняки
                            li.directions__li ТЦ Любимый Мичуринский проспект 
                        p.directions__desc.enable-sm Садовый центр Дарвин,#[br] OBI, Тц Вешняки, ТЦ#[br] Любимый Мичуринский#[br] проспект
                .directions__item 
                    .directions__img    
                        img(src="@img/directions-img-2.png", alt="" draggable="false" loading="lazy")
                    .directions__right 
                        span.directions__subtitle Частные дома
                        p.directions__desc Установили заземления и молние#[br] защиту для более#[br] 2000 домов
                .directions__item 
                    .directions__img    
                        img(src="@img/directions-img-3.png", alt="" draggable="false" loading="lazy")
                    .directions__right 
                        span.directions__subtitle Складские комплексы
                        p.directions__desc Установили заземление#[br] и молниезащиту для более#[br] 100 складских комплексов
                .directions__item 
                    .directions__img    
                        img(src="@img/directions-img-4.png", alt="" draggable="false" loading="lazy")
                    .directions__right 
                        span.directions__subtitle Производственные здания
                        ul.directions__list.disable-sm 
                            li.directions__li Завод Renault
                            li.directions__li Завод Майский Чай
                            li.directions__li Завод Хохланд Рус
                            li.directions__li Завод KERAMA MARAZZI
                        p.directions__desc.enable-sm Завод Renault, Завод Майский Чай, Завод Хохланд Рус, Завод KERAMA MARAZZI
