mixin gallery()
    .gallery 
        .gallery__body.container 
            h2.gallery__title.title Фото готовых работ
            .gallery__slider 
                .gallery__swiper.swiper 
                    .gallery__swiper-wrapper.swiper-wrapper 
                        .gallery__slide.swiper-slide 
                            img(src="@img/gallery-img-1.png", alt="" draggable="false" loading="lazy")
                        .gallery__slide.swiper-slide 
                            img(src="@img/gallery-img-2.png", alt="" draggable="false" loading="lazy")
                        .gallery__slide.swiper-slide 
                            img(src="@img/gallery-img-3.png", alt="" draggable="false" loading="lazy")
                        .gallery__slide.swiper-slide 
                            img(src="@img/gallery-img-4.png", alt="" draggable="false" loading="lazy")
                        .gallery__slide.swiper-slide 
                            img(src="@img/gallery-img-1.png", alt="" draggable="false" loading="lazy")
                        .gallery__slide.swiper-slide 
                            img(src="@img/gallery-img-2.png", alt="" draggable="false" loading="lazy")
                        .gallery__slide.swiper-slide 
                            img(src="@img/gallery-img-3.png", alt="" draggable="false" loading="lazy")
                .gallery__buttons.swiper-buttons 
                    .swiper-button-prev
                    .swiper-button-next