mixin systems()
    .systems 
        .systems__body.container 
            h2.systems__title.title Отзывы о работе с нами
            .systems__slider 
                .systems__swiper.swiper 
                    .systems__swiper-wrapper.swiper-wrapper 
                        .systems__slide.swiper-slide 
                            img(src="@img/systems-img-1.png", alt="" draggable="false" loading="lazy")
                        .systems__slide.swiper-slide 
                            img(src="@img/systems-img-1.png", alt="" draggable="false" loading="lazy")
                        .systems__slide.swiper-slide 
                            img(src="@img/systems-img-1.png", alt="" draggable="false" loading="lazy")
                        .systems__slide.swiper-slide 
                            img(src="@img/systems-img-1.png", alt="" draggable="false" loading="lazy")
                        .systems__slide.swiper-slide 
                            img(src="@img/systems-img-1.png", alt="" draggable="false" loading="lazy")
                        .systems__slide.swiper-slide 
                            img(src="@img/systems-img-1.png", alt="" draggable="false" loading="lazy")
                        .systems__slide.swiper-slide 
                            img(src="@img/systems-img-1.png", alt="" draggable="false" loading="lazy")
                .systems__buttons.swiper-buttons 
                    .swiper-button-prev
                    .swiper-button-next