mixin works()
    .works 
        .works__body.container 
            h2.works__title.title Выполняем весь цикл работ от расчета до оформления документации
            .works__content 
                .works__item(data-target="01")
                    p.works__p Предварительный расчет и стоимости работ  
                .works__item(data-target="02")
                    p.works__p Бесплатный выезд инжинера на замер
                .works__item(data-target="03")
                    p.works__p Заключение договора
                .works__item(data-target="04")
                    p.works__p Предоплата  
                .works__item(data-target="05")
                    p.works__p Выполнение работ  
                .works__item(data-target="06")
                    p.works__p Оплата и выдача исполнительной документации 